{% extends "base.html" %}

{% block title %}
    Edit Task
{% endblock title %}
{% block content %}
    <main>
        <div class="task-form">
            <h1>Edit task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Edit</button>
            </form>
        </div>
        <div id="delete-task">
            <h3>Delete Task</h3>
            <h4 id="delete-text">Are you sure you want to delete {{ task.name }}?</h4>
            <form method="post">
                {% csrf_token %}
                <input id="delete-button" type="hidden" name="delete_task">
                <input id="delete-button" type="submit" value="Delete">
            </form>
        </div>
    </main>
{% endblock content %}
