{% extends "base.html" %}

{% block title %}
    List of Task Groups
{% endblock title %}
{% block content %}
    <main>
        <div class="project-list">
            <h1>Task Groups</h1>
            <h2 id="motivation">Morning motivation:</h2>
            <h3>{{ quote }}</h3>
            <p>
                <a href="{% url "create_project" %}">Create a new group</a>
            </p>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if user_projects|length == 0 %}
                <p>You have not created any categories</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in user_projects %}
                            <tr>
                                <td>
                                    <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
