{% extends "base.html" %}

{% block title %}
    Group Details
{% endblock title %}
{% block content %}
    <main>
        <div class="project detail">
            <h1>{{ project_details.name }}</h1>
            <p>{{ project_details.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if project_details.tasks.all|length == 0 %}
                <p>This group has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date added</th>
                            <th>Due date</th>
                            <th>Estimated Days to Complete</th>
                            <th>Notes</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_details.tasks.all %}
                            <tr>
                                <td>
                                    <a href="{% url "edit_task" project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.start_date }}</td>
                                <td>{{ project.due_date }}</td>
                                <td>{{ project.time_to_complete }}</td>
                                <td>{{ project.notes }}</td>
                                <td>
                                    <form method="post">
                                        {% csrf_token %}
                                        <select name="is_completed">
                                            {% if project.is_completed == True %}
                                                <option value=True>Yes</option>
                                                <option value=False>No</option>
                                            {% else %}
                                                <option value=False>No</option>
                                                <option value=True>Yes</option>
                                            {% endif %}
                                        </select>
                                        <input type="hidden" name="task_id" value="{{ project.id }}">
                                        <button type="submit">Save</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <p class="delete-project">
            <h3>Delete group</h3>
            <h4 id="delete-text">Are you sure you want to delete {{ project_details.name }} and all of its associated tasks?</h4>
            <form method = "post">
                {% csrf_token %}
                <input id="delete-button" type="hidden" name="delete_project">
                <input id="delete-button" type="submit" value="Delete">
            </form>
        </p>
    </main>
{% endblock content %}
